*, :before, :after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.content{
    flex-grow: 1;
}

.item-hover:hover{
    color: #ffc107 !important;
    border-bottom: 2px solid #d2a00a !important;
    transition: ease-in-out 0.1s;
}
